.section1 {
    width: 100%;
    /* height: 550px; */
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.text,
.image {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text1 {
    margin-top: 102px;
    padding-top: 100px;
    padding-left: 70px;
}

.text2 {
    padding-top: 100px;
    padding-left: 70px;
}

.contenu1 {
    background-color: #404957;
    color: #BE9F69;
}

.contenu2 {
    /*background-color: #4b4f55;#404957*/
    background: linear-gradient(to bottom, #404957 0%, #4b4f55 100%);
    color: goldenrod;
}

hr {
    color: goldenrod;
    border: none;
    height: 5px;
}


/*button up*/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: goldenrod;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

body,
html {
    scroll-behavior: smooth;
    height: 100%;
    font: 400 15px/1.8 "Bodoni", sans-serif;
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}


/* RESPONSIVE */

@media only screen and (min-width: 376px) and (max-width: 425px) {
    /*style petites-moyennes tablettes */
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .text {
        padding: 0px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    /*style smartphones et petites tablettes en portrait*/
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .text {
        padding: 0px;
    }
}

@media only screen and (max-device-width: 320px) {
    /*style petits smartphones en voie de disparition*/
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .text {
        padding: 0px;
    }
}


/*@media only screen and (max-device-width: 770px) {
      .text, .image {
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
  }*/