/*footer*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.firstLine {
    font-family: 'Bodoni';
    font-size: 17px;
    height: 300px;
    width: 100%;
    border: solid;
    border-color: goldenrod;
    border-bottom: white;
    border-left: white;
    border-right: white;
    color: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.firstLine,
.secondLine {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.secondLine {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.myInputTxt {
    border-radius: 10px;
}

.btnCL {
    border-radius: 10px;
    width: 50px;
}


/* 
.ctnPrResponsive {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */

a {
    text-decoration: none;
    color: goldenrod;
}

.ctnIcon {
    display: flex;
    padding-bottom: 10px;
    /* justify-content: space-between; */
}

.contact h4 {
    padding-top: 10px;
}

.ctn2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
}

.icon {
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.icon:hover {
    width: 35px;
    filter: drop-shadow(0 0 0.75rem white);
}

.contact2 {
    display: none;
}

h4 {
    text-align: center;
}

.btntop {
    opacity: 0.8;
}


/* RESPONSIVE */

@media only screen and (max-width: 700px) {
    .firstLine,
    .secondLine {
        padding-top: 5%;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: space-evenly;
    }
}

@media only screen and (max-width: 400px) {
    .firstLine,
    .secondLine {
        padding-top: 15%;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: space-evenly;
    }
}

@media only screen and (max-width: 400px) {
    .btntop {
        width: 20%;
        font-size: 2%;
    }
}