.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

#header {
    color: goldenrod;
    background-color: #3f3f3f;
    opacity: 0.5;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    z-index: 3;
}


/*Navbar*/

.navbar {
    overflow: hidden;
    color: goldenrod;
    padding-top: 15px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: goldenrod;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: goldenrod;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 105px;
    height: 125px;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body,
html {
    height: 100%;
    font: 400 15px/1.8 "Bodoni", sans-serif;
}

body::-webkit-scrollbar {
    width: 0.2rem;
}

body::-webkit-scrollbar-thumb {
    background: goldenrod;
}

@media screen and (max-width: 1025px) {
    #header {
        display: none
    }
}