.dropdown2 {
    border: solid;
    border-color: white;
    overflow: hidden;
    justify-content: center;
    width: 10%;
    margin-left: 45%;
}

.dropdown2 .dropbtn2 {
    font-size: 100%;
    border: none;
    outline: none;
    color: white;
    padding: 20% 16%;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;
}

.dropdown2-content a {
    float: none;
    padding: 12% 16%;
    text-decoration: none;
    display: block;
    text-align: left;
    color: black;
}

.dropdown2-content a:hover {
    background-color: #ddd;
}

.dropdown2:hover .dropdown2-content {
    display: block;
}

body,
html {
    scroll-behavior: smooth;
    height: 100%;
    font: 400 15px/1.8 "Bodoni", sans-serif;
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption2 {
    display: flex;
    padding-top: 10%;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    flex-direction: column;
    justify-content: center;
}

.parallax1 {
    /* The image used */
    background-image: url("photos/chameau.jpg");
    /* Full height */
    min-height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.border {
    z-index: 1;
}

.parallax2 {
    /* The image used */
    background-image: url("photos/chameau2.jpg");
    /* Full height */
    min-height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*button up*/

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: goldenrod;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.textInfo {
    border: solid;
    border-color: white;
    color: white;
    padding: 1%;
}

.partenaires {
    border: solid;
    border-color: goldenrod;
    border-left: white;
    border-right: white;
    border-bottom: white;
    background-color: #BE9F69;
}

.text5 {
    display: flex;
    justify-content: space-around;
}

.titre1 {
    text-align: center;
    color: white;
    font-size: 120%;
}

.boutique {
    background-color: #404957;
    color: white;
}

.images3 {
    display: flex;
    justify-content: space-around;
}

.text4 {
    color: white;
    padding-left: 2.5%;
}


/*carousel*/

figure {
    margin: 0;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
    height: 15%;
    overflow: hidden;
    width: 80%;
    margin: auto;
}

.slideshow-container img {
    width: 40%;
    margin-top: -20px;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.textCarousel {
    display: flex;
    justify-content: center;
    color: goldenrod;
    font-size: 100%;
    padding: 8px 12px;
    /*position   : absolute;*/
    left: 100px;
    width: 100%;
    font-family: 'Patua One', cursive;
    text-shadow: 1px 1px 2px black;
}

.contenu3 {
    color: red;
}


/* RESPONSIVE */

@media only screen and (min-width: 376px) and (max-width: 425px) {
    /*style petites-moyennes tablettes */
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .text {
        padding: 0px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    /*style smartphones et petites tablettes en portrait*/
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .text {
        padding: 0px;
    }
}

@media only screen and (max-device-width: 320px) {
    /*style petits smartphones en voie de disparition*/
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .text {
        padding: 0px;
    }
}

@media only screen and (max-device-width: 770px) {
    .leftCtn,
    .rightCtn {
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .dropdown2 {
        border: solid;
        border-color: white;
        overflow: hidden;
        justify-content: center;
        width: 30%;
        margin-left: 35%;
    }
    .dropdown2 .dropbtn2 {
        font-size: 100%;
        border: none;
        outline: none;
        color: white;
        padding: 2% 1%;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
}


/* Slides */

.mySlides {
    display: none;
    text-align: center;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}