.raison1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.raison2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.raison3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.raison4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.raison5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}